@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url(./assets/fonts/Vazir-Medium.ttf);
}

@font-face {
  font-family: VazirBold;
  src: url(./assets/fonts/Vazir-Bold.ttf);
}

body {
  font-family: Vazir;
}

#banner-clip-path {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 56px),
    50% 100%,
    0 calc(100% - 56px)
  );
}

